# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# ML artifacts
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
wandb/
runs/
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env

#papers
final_deliverables.pdf
paper.pdf

# Cloned repos
dreambooth/
